[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=sprites-example
Exec=sprites-example
Name=sprites-example
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=sprites-example
